PORT=3000
FRONTEND_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=1433
DB_NAME=ArcopalStore
DB_AUTH_TYPE=windows
DB_ODBC_DRIVER=ODBC Driver 17 for SQL Server
# Use these only if DB_AUTH_TYPE=sql
DB_USERNAME=sa
DB_PASSWORD=your-strong-password
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=12

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Arcopal Admin
