PORT=3000
FRONTEND_ORIGIN=http://kaamo.ir

DB_HOST=localhost
DB_PORT=3306
DB_NAME=arcopal_store
DB_USERNAME=arcopal_user
DB_PASSWORD=your-mysql-password

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=12

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Arcopal Admin
